result
result_fig
models/tmp
tracking/tmp
modules/*.pyc
modules/__pycache__/*.pyc
pretrain/*.pyc
tracking/*.pyc
tracking/__pycache__/*.pyc
models/imagenet-vgg-m.mat
dataset/vot2013
dataset/vot2014
dataset/vot2015